Counter/__pycache__/__init__.cpython-39.pyc
Counter/__pycache__/Counter.cpython-39.pyc
Stars/__pycache__/__init__.cpython-39.pyc
Stars/__pycache__/Stars.cpython-39.pyc
WarPickCoC/info.json
WarPickCoC/__pycache__/__init__.cpython-39.pyc
WarPickCoC/__pycache__/WarPickCoC.cpython-39.pyc
.idea/discord.xml
.idea/Dp-Cogs.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
count.db
